<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<included>
	<contextListener
		class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="SysOutAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d;%logger;%thread;%level;%m%n </pattern>
		</encoder>
	</appender>

	<appender name="SysErrAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d;%logger;%thread;%level;%m%n </pattern>
		</encoder>
	</appender>
</included>
